* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.main {
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 5px;
    width: 350px;
}
.main img {
    border-radius: 5px;
    width: 100%;
}
.nft-details {
    padding-top: 18px;
}
.main p:first-of-type {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}
.main  {
    color: #bbb;
    font-weight: 100;
}
.bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-top: 1px solid hsl(215, 32%, 27%);
}
.flex-item-left {
    flex: 10%;
    padding-top: 10px;
}
.flex-item-left img {
    border: 1px solid #fff;
    border-radius: 50%;
}
.flex-item-right {
    flex: 90%;
    padding-top: 10px;
}
.flex-item-right p {
    padding-top: 4px;
    margin-left: 14px;
}
.nav-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
    font-size: 11px;
    color: hsl(228, 45%, 44%);
}
.active a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
.active a:hover {
    color: hsl(178, 100%, 50%);
}
.overlay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.overlay a {
    width: 100%;
}
.overlay a:hover {
    background-image: url('../images/icons8-eye-48.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px;
    background-color: hsl(178, 100%, 50%);
    width: 100%;
    border-radius: 5px;    
    display: inline-block; 
}
.overlay img:hover {
    opacity: 0.5;
}